<!doctype html>
<html lang="en">

<head>
    <title>Connexion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../components/assets/css/vpsmonitor/style.css">

</head>

<body class="img js-fullheight" style="background-image: url(../addons/login/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">VpsMonitor</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Connecte toi ici !</h3>
                        <form action="#" class="signin-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" id="usernameField" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Password"
                                    required>
                                <span toggle="#password-field"
                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button class="form-control btn btn-primary submit px-3" id="loginBtn">Connexion</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Se souvenir de moi
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a id="LostPsw" style="color: #fff">Mot de passe oublié ?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification" class="hidden">
			<p id="message"></p>
			<button id="close-button" onclick="closeNotification()">Fermer</button>
			<button id="restart-button" onclick="restartApp()" class="hidden"> Restart</button>
		</div>
    </section>

    <script>
        const ipc = require('electron').ipcRenderer;
		const remote = require('electron')
		const fs = require('fs')

        const notification = document.getElementById('notification')
		const message = document.getElementById('message')
		const restartButton = document.getElementById('restart-button')

        function closeNotification(){
        notification.classList.add('hidden')
		}

		function restartApp(){
			ipc.send('restart_app')
		}

        ipc.on('update_available', () => {
			ipc.removeAllListeners('update_available')
			message.innerText = 'Une mise a jour du launcher est disponible, je la télécharge pour vous...'
			notification.classList.remove('hidden')
		})

		ipc.on('update_downloaded', () => {
			ipc.removeAllListeners('update_downloaded')
			message.innerText =
				'Mise a jour téléchargé avec succés, elle sera installé après un redémarrage. Redémarrer maintenant ?'
			restartButton.classList.remove('hidden')
			notification.classList.remove('hidden')
		})

        ipc.on('UsernameSaved', (event, data) => {
			console.log(data)
			document.getElementById('usernameField').value = data['student']['infos'][0].email
		})

        ipc.on('Error-Login', (event) => {
			Remote.dialog.showErrorBox('Erreur !', 'Veuillez vérifier votre mot de passe ou votre email !')
		})

        document.getElementById('loginBtn').addEventListener('click', () => {
			let username = document.getElementById('usernameField').value
			let password = document.getElementById('password-field').value

			if (username && password) {
				ipc.send('loginVps', {
					username,
					password
				})
				if (document.getElementById('UsernameSave').checked) {
					ipc.send('SavingUsername', {
						username
					})
				}
			} else {
				remote.dialog.showErrorBox('Erreur !', 'Veuillez écrire un mot de passe ou un pseudo !')
			}
		})

        document.getElementById('LostPsw').addEventListener('click', () => {
            remote.dialog.showErrorBox('Eh bah va te faire foutre!', 'Ou bien va voir Alexandre, on verra pour le reste')
        })
    </script>

    <script>
		window.$ = window.jQuery = require('jquery');
	</script>
    <script src="../../components/assets/utilities/popper.js"></script>
    <script src="../../components/assets/utilities/bootstrap.min.js"></script>
    <script src="../../components/assets/js/vpsmonitor/main.js"></script>

</body>

</html>