<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vps Monitoring</title>
    <link rel="stylesheet" href="../../components/assets/utilities/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=">
    <link rel="stylesheet" href="../../components/assets/css/vpsmonitor/style.css">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="#" class="logo">Portal</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#" id="Accueil"><span class="fas fa-home mr-3"></span> Accueil</a>
                </li>
                <li>
                    <a href="#" id="processList"><span class="fas fa-cubes mr-3"></span> Liste des process</a>
                </li>
                <li>
                    <a href="#" id="ReturnPanels"><span class="fas fa-wrench mr-3"></span> Panels</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5"
            style="background-image: url(../../components/assets/images/minecraft/WallpaperBackgroundMain.jpg);">
            <h2 class="mb-4">Monitor</h2>
            <div class="container-fluid" style="height: 97%;">
                <div class="row h-100">
                    <div class="col-3">
                        <div class="card l-bg-cherry">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Ram utilisés</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-10">
                                        <h2 class="d-flex align-items-center mb-0" id="ramCount">
                                            3,243
                                        </h2>
                                    </div>
                                </div>
                                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                    <div id="ramBar" class="progress-bar l-bg-cyan" role="progressbar" data-width="25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card l-bg-cherry">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Stockage Utilisés</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-10">
                                        <h2 class="d-flex align-items-center mb-0" id="storageCount">
                                            3,243
                                        </h2>
                                    </div>
                                </div>
                                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                    <div id="storageBar" class="progress-bar l-bg-cyan" role="progressbar" data-width="25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container"
                            style="border: 2px solid; border-color: white; background-color: black; height: 90%; color: white;"
                            id="consoleDiv"></div>
                        <input type="text"
                            style="border: 2px solid; border-color: white; width: 100%; background-color: black; color: white; outline: none; text-decoration: none;"
                            id="cmdInput">
                    </div>
                    <div class="col-3">
                        <div class="card l-bg-cherry">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Processeur Utilisés</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-10">
                                        <h2 class="d-flex align-items-center mb-0" id="procCount">
                                            3,243
                                        </h2>
                                    </div>
                                </div>
                                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                    <div id="procBar" class="progress-bar l-bg-cyan" role="progressbar" data-width="25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

<script>
    window.$ = window.jQuery = require('jquery');
</script>
<script src="../../components/assets/utilities/popper.js"></script>
<script src="../../components/assets/utilities/bootstrap.min.js"></script>
<script src="../../components/assets/js/vpsmonitor/main.js"></script>
<script>
    const {
        Client
    } = require('ssh2');
    const ipc = require('electron').ipcRenderer;
    const fs = require('fs')
    const prompt = require('electron-prompt');

    const conn = new Client();

    let a2fpass
    let password
    let consoleDiv = document.getElementById('consoleDiv')
    let streamingConsole

    const node = document.getElementById('cmdInput')
    let detailsPage = document.getElementById('Details')
    let logout = document.getElementById('logout')
    let gotoPanels = document.getElementById('gotoPanels')

    if ($('#consoleDiv')[0].scrollHeight >  $('#consoleDiv').innerHeight()) {
        document.getElementById('consoleDiv').scrollTop = 0
    }

    ipc.on('startSSHPatou', (event, data) => {

        a2fpass = data.a2fcode
        password = data.password
        config = data.config

        conn.on('error', function (err) {
                console.log('Connection :: error :: ' + err);
            })
            .on('keyboard-interactive', function (name, instructions, instructionsLang, prompts, finish) {
                console.log(prompts)
                if (prompts[0].prompt.toLowerCase().indexOf("verification code: ") != -1) {
                    finish([a2fpass]);
                }
                if (prompts[0].prompt.toLowerCase().indexOf("password: ") != -1) {
                    finish([password]);
                }
            })
            .on('ready', function () {
                console.log('Client :: ready');
            }).connect({
                host: config.host,
                port: config.port,
                username: 'root',
                readyTimeout: 60000,
                tryKeyboard: true
            })

        conn.on('ready', function () {
            setInterval(() => {
                conn.exec('free --giga', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        $('#ramBar').attr('aria-valuenow', arr[7])
                        let percent = (arr[7] / arr[6]) * 100
                        document.getElementById('ramBar').style.width =
                            `${percent}%`
                        document.getElementById('ramCount').innerText =
                            `${arr[7]} Go / ${arr[6]} Go`
                    })
                });
                conn.exec('mpstat', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        $('#procBar').attr('aria-valuenow', arr[20])
                        let percent = (arr[20] / 100) * 100
                        document.getElementById('procBar').style.width =
                            `${percent}%`
                        document.getElementById('procCount').innerText =
                            `${arr[20]}%`
                    })
                });
                conn.exec('df /dev/sda1', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        document.getElementById('storageBar').style.width =
                            `${arr[10]}`
                        document.getElementById('storageCount').innerText =
                            `${arr[10]}`
                    })
                });
            }, 5000)
            conn.shell((err, stream) => {
                if (err) throw err;
                stream.on('close', () => {
                    console.log('Stream :: close');
                }).on('data', (data) => {
                    console.log('OUTPUT: ' + data);
                    console.log('OUTPUT: ' + data);
                    console.log($('#consoleDiv')[0].scrollHeight)
                    console.log($('#consoleDiv').innerHeight())
                    if ($('#consoleDiv')[0].scrollHeight >  $('#consoleDiv').innerHeight()) {
                        consoleDiv.innerHTML = ''
                    }
                    consoleDiv.innerHTML += data + "<br>"
                    streamingConsole = stream
                });
            });
        })
    })

    ipc.on('startSSHAlex', (event, data) => {

        a2fpass = data.a2fcode
        password = data.password
        config = data.config

        conn.on('error', function (err) {
                console.log('Connection :: error :: ' + err);
            })
            .on('keyboard-interactive', function (name, instructions, instructionsLang, prompts, finish) {
                console.log(prompts)
                if (prompts[0].prompt.toLowerCase().indexOf("verification code: ") != -1) {
                    finish([a2fpass]);
                }
                if (prompts[0].prompt.toLowerCase().indexOf("password: ") != -1) {
                    finish([password]);
                }
            })
            .on('ready', function () {
                console.log('Client :: ready');
            }).connect({
                host: config.host,
                port: config.port,
                username: 'root',
                readyTimeout: 60000,
                tryKeyboard: true
            })

        conn.on('ready', function () {
            setInterval(() => {
                conn.exec('free --giga', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        $('#ramBar').attr('aria-valuenow', arr[7])
                        let percent = (arr[7] / arr[6]) * 100
                        document.getElementById('ramBar').style.width =
                            `${percent}%`
                        document.getElementById('ramCount').innerText =
                            `${arr[7]} Go / ${arr[6]} Go`
                    })
                });
                conn.exec('mpstat', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        $('#procBar').attr('aria-valuenow', arr[20])
                        let percent = (arr[20] / 100) * 100
                        document.getElementById('procBar').style.width =
                            `${percent}%`
                        document.getElementById('procCount').innerText =
                            `${arr[20]}%`
                    })
                });
                conn.exec('df /dev/sda1', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        document.getElementById('storageBar').style.width =
                            `${arr[10]}`
                        document.getElementById('storageCount').innerText =
                            `${arr[10]}`
                    })
                });
            }, 5000)
            conn.shell((err, stream) => {
                if (err) throw err;
                stream.on('close', () => {
                    console.log('Stream :: close');
                }).on('data', (data) => {
                    console.log('OUTPUT: ' + data);
                    console.log($('#consoleDiv')[0].scrollHeight)
                    console.log($('#consoleDiv').innerHeight())
                    if ($('#consoleDiv')[0].scrollHeight >  $('#consoleDiv').innerHeight()) {
                        consoleDiv.innerHTML = ''
                    }
                    consoleDiv.innerHTML += data + "<br>"
                    streamingConsole = stream
                });
            });
        })
    })

    ipc.on('startSSHCyril', (event, data) => {

        a2fpass = data.a2fcode
        password = data.password
        config = data.config

        conn.on('error', function (err) {
                console.log('Connection :: error :: ' + err);
            })
            .on('keyboard-interactive', function (name, instructions, instructionsLang, prompts, finish) {
                console.log(prompts)
                if (prompts[0].prompt.toLowerCase().indexOf("verification code: ") != -1) {
                    finish([a2fpass]);
                }
                if (prompts[0].prompt.toLowerCase().indexOf("password: ") != -1) {
                    finish([password]);
                }
            })
            .on('ready', function () {
                console.log('Client :: ready');
            }).connect({
                host: config.host,
                port: config.port,
                username: 'root',
                readyTimeout: 60000,
                tryKeyboard: true
            })

        conn.on('ready', function () {
            setInterval(() => {
                conn.exec('free --giga', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        $('#ramBar').attr('aria-valuenow', arr[7])
                        let percent = (arr[7] / arr[6]) * 100
                        document.getElementById('ramBar').style.width =
                            `${percent}%`
                        document.getElementById('ramCount').innerText =
                            `${arr[7]} Go / ${arr[6]} Go`
                    })
                });
                conn.exec('mpstat', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        $('#procBar').attr('aria-valuenow', arr[20])
                        let percent = (arr[20] / 100) * 100
                        document.getElementById('procBar').style.width =
                            `${percent}%`
                        document.getElementById('procCount').innerText =
                            `${arr[20]}%`
                    })
                });
                conn.exec('df /dev/sda1', (err, stream) => {
                    if (err) throw err;
                    stream.on('close', (code, signal) => {
                        console.log('Stream :: close');
                    }).on('data', (data) => {
                        let datas = data.toString()
                        let newData = datas.split(' ')
                        arr = newData.filter(item => item)
                        document.getElementById('storageBar').style.width =
                            `${arr[10]}`
                        document.getElementById('storageCount').innerText =
                            `${arr[10]}`
                    })
                });
            }, 5000)
            conn.shell((err, stream) => {
                if (err) throw err;
                stream.on('close', () => {
                    console.log('Stream :: close');
                }).on('data', (data) => {
                    //console.log('OUTPUT: ' + data);
                    console.log('OUTPUT: ' + data);
                    console.log($('#consoleDiv')[0].scrollHeight)
                    console.log($('#consoleDiv').innerHeight())
                    if ($('#consoleDiv')[0].scrollHeight >  $('#consoleDiv').innerHeight()) {
                        consoleDiv.innerHTML = ''
                    }
                    consoleDiv.innerHTML += data + "<br>"
                    streamingConsole = stream
                });
            });
        })
    })


    node.addEventListener('keyup', ({
        key
    }) => {
        if (key === 'Enter') {
            streamingConsole.write(node.value + '\n')
            node.value = ""
        }
    })
</script>

</html>