.title {

  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 41px;

  /* identical to box height */
  text-align: center;

  color: #c62ddac7;

  backdrop-filter: blur(4px);
  margin-top: 20px;
}

#videoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  position: absolute;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 1000px;
  bottom: 100px;
  left: 20%;

}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 40px;
  width: 0;
}

#PlayButton {
  position: absolute;
  bottom: 190px;
  left: 45%;
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}